%h1= @user.username

%h2 Groups

%h3 Creator of:

- if @created_groups.present?
  %ul
    - @created_groups.each do |created_group|
      %li= render 'groups/group', group: created_group

- else
  %p None

%h3 Member of:

- if @member_groups.present?
  %ul
    - @member_groups.each do |member_group|
      %li= render 'groups/group', group: member_group
- else
  %p None
