%h1= @user.username

%h2 Bodies

%h3 Creator of:

- if @created_bodies.present?
  %ul
    - @created_bodies.each do |created_body|
      %li= render 'bodies/body', body: created_body

- else
  %p None

%h3 Member of:

- if @member_bodies.present?
  %ul
    - @member_bodies.each do |member_body|
      %li= render 'bodies/body', body: member_body
- else
  %p None
